@font-face {
	font-family: KumbhSans;
	font-display: swap;
	src: url("../fonts/KumbhSans-ExtraBold.woff2") format("woff2"), url("../fonts/KumbhSans-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: KumbhSans;
	font-display: swap;
	src: url("../fonts/KumbhSans-Regular.woff2") format("woff2"), url("../fonts/KumbhSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: KumbhSans;
	font-display: swap;
	src: url("../fonts/KumbhSans-Bold.woff2") format("woff2"), url("../fonts/KumbhSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: KumbhSans;
	font-display: swap;
	src: url("../fonts/KumbhSans-SemiBold.woff2") format("woff2"), url("../fonts/KumbhSans-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
